.list-add-flex-col {
    padding: 50px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

.list-table-format {
  display: grid;
  grid-template-columns: 0.7fr 1fr 0.9fr 0.9fr 0.4fr;
  align-items: center;
  gap: 100px;
  padding: 12px 15px;
  border-bottom: 1px solid #cacaca;
  font-size: 14px;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.list-table-format.title {
    grid-template-columns: 0.7fr 0.7fr 0.9fr 1fr 0.4fr;
    background-color: #f2f2f2;
    font-weight: bold;

}

.list-table-format img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.list-table-format p {
    margin: 0;
}

.list-table-format:hover {
    background-color: #f9f9f9;
}

.list-table-format .action {
    color: red;
    cursor: pointer;
    text-align: center;
}
/* Styles for the search container */
/* Styles for the search container */
.search-container {
    display: flex;
    justify-content: flex-end; /* Align to the right */
    margin-bottom: 20px;
    width: 100%;
}

/* Styling for the search input field */
.search-container input {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 10px;
    outline: none;
    transition: all 0.3s ease;
}

/* Hover and focus effect for the input field */
.search-container input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Add some margin to the search input for spacing */
.search-container input::placeholder {
    color: #999;
}


@media (max-width: 768px) {
    .list-table-format {
        grid-template-columns: 1fr 1.5fr 1fr 1fr 0.5fr;
        font-size: 12px;
    }

    .list-table-format img {
        width: 40px;
        height: 40px;
    }
}

  

@media (max-width: 768px) {
    .list-table-format {
        grid-template-columns: 1fr 1.5fr 1fr 1fr 0.5fr;
        font-size: 12px;
    }

    .list-table-format img {
        width: 40px;
        height: 40px;
    }
}
